[Desktop Entry]
Encoding=UTF-8
Name=DOSH Wallet
Comment=DOSH wallet
Exec=DOSH %U
Terminal=false
Type=Application
Icon=dosh
MimeType=x-scheme-handler/dosh;
Categories=Office;Finance;
